.header__link {
    margin: 0;
    margin-left: 14px;
    text-decoration: none;
    font-weight: 400;
    color: #FFFFFF;
}

@media screen and (min-width: 340px) {
    .header__link {
        font-size: 24px;
        line-height: 1.17;
        min-height: 28px;
    }
}

@media screen and (max-width: 340px) {
    .header__link {
        font-size: 18px;
        line-height: 1.11;
        min-height: 20px;
    }
}