.intro {
    margin: 0;
    min-height: 429px;
}

@media screen and (min-width: 1279px) {
    .intro {
        padding: 93px 0 0 148px;
        max-width: 690px;
    }
}

@media screen and (min-width: 780px) and (max-width: 1279px) {
    .intro {
        padding: 93px 0 0 48px;
        max-width: 690px;
    }
}

@media screen and (min-width: 350px) and (max-width: 780px) {
    .intro {
        padding: 89px 0 0 24px;
        max-width: 720px;
    }
}

@media screen and (max-width: 350px) {
    .intro {
        padding: 66px 0 0 16px;
        max-width: 285px;
    }
}