.cover {
    margin: 0 auto;
    width: 100%;
}

@media screen and (min-width: 1279px) {
    .cover {
        padding: 92px 48px;
        width: calc(100% - (48px*2));
    }
}

@media screen and (min-width: 780px) and (max-width: 1279px) {
    .cover {
        padding: 92px 0;
    }
}

@media screen and (min-width: 350px) and (max-width: 780px) {
    .cover {
        padding: 90px 0 88px;
    }
}

@media screen and (max-width: 350px) {
    .cover {
        padding: 66px 0 64px;
    }
}