.place__url {
    margin: 0;
    padding-bottom: 32px;
    min-height: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    grid-column: 2;
    grid-row: 1;
    align-self: end;
    text-transform: uppercase;
}

@media screen and (max-width: 740px) {
    .place__url {
        display: none;
    }
}